alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../..."
alias ~="cd ~"

alias b='bundle'
alias be='bundle exec'
alias ber='bundle exec rails'
alias bers='ber s'
alias bec='be cap'
alias bpv='vim ~/.bash_profile'
alias bps='source ~/.bash_profile'
alias g='git'
alias gst='g status'
alias gsth='g stash'
alias ls='ls -vxFGa'
alias ip='ifconfig'
alias s='sudo'
alias tw='t update'
alias v='vim'
