alias pushd="pushd $1 > /dev/null"
alias popd="popd > /dev/null"
alias ..="pushd ..;ls"
alias ...="pushd ../..;ls"
alias ....="pushd ../../..;ls"
alias .....="pushd ../../../..;ls"
alias ~="cd ~"

alias b='bundle'
alias bi='bundle install'
alias be='bundle exec'
alias ber='bundle exec rails'
alias bers='ber s'
alias berc='ber c'
alias spec='bundle exec spec'
alias bec='be cap'
alias bpv='vim ~/.bash_profile'
alias bps='source ~/.bash_profile'
alias g='git'
alias gst='g status'
alias gb='git branch'
alias ga='git add'
alias gd='git diff'
alias gf='git fetch'
alias gl="git config --local user.name '${GIT_LOCAL_USER}'; git config --local user.email '${GIT_LOCAL_EMAIL}'"
alias pi='pod install'
alias ppm='/usr/bin/pp'
#alias p='pushd;ls'
alias pp='popd;ls'
alias pu='pod update'
alias scheme='sisc'


# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
  alias ctags="`brew --prefix`/bin/ctags"
fi

alias ls='ls -vxFa ${colorflag}'

alias ip='ifconfig'
alias s='sudo'
alias tw='t update'
alias v='vim'
alias c='p'
alias l='ls'

pii() {
  if [ -d Pods ]; then
    rm -rf Pods
  fi

  if [ -f Podfile.lock ]; then
    rm Podfile.lock
  fi

  pi
}

